<section>
    <header>
        <h2>{{ lang.get('footer.about.title') }}</h2>
    </header>
    <a href="#" class="image featured">
        <img src="images/pic10.jpg" alt="" />
    </a>
    <p>{{ lang.get('footer.about.description')|raw }}</p>
    <footer>
        <ul class="actions">
            <li>
                <a href="#" class="button">
                    {{ lang.get('footer.about.find_out_more') }}
                </a>
            </li>
        </ul>
    </footer>
</section>