<div id="copyright">
    <ul class="links">
        <li>{{ lang.get('footer.copyright') }}</li>
        <li>
            {{ lang.get('footer.designed_by') }} 
            <a href="http://html5up.net">{{ lang.get('footer.html5_up') }}</a>
        </li>
    </ul>
</div>