<section>
    <header>
        <h2>{{ lang.get('footer.recent_posts.title') }}</h2>
    </header>
    <ul class="dates">
        {% set recent_posts = lang.get('footer.recent_posts.posts') %}
        {% if recent_posts is iterable %}
            {% for post in recent_posts %}
                <li>
                    <span class="date">{{ post.date }}</span>
                    <h3><a href="#">{{ post.title }}</a></h3>
                    <p>{{ post.excerpt }}</p>
                </li>
            {% endfor %}
        {% else %}
            {# Fallback content if no posts in translations #}
            <li>
                <span class="date">Jan 27</span>
                <h3><a href="#">Lorem dolor sit amet veroeros</a></h3>
                <p>Ipsum dolor sit amet veroeros consequat blandit ipsum phasellus lorem consequat etiam.</p>
            </li>
            <li>
                <span class="date">Jan 23</span>
                <h3><a href="#">Ipsum sed blandit nisl consequat</a></h3>
                <p>Blandit phasellus lorem ipsum dolor tempor sapien tortor hendrerit adipiscing feugiat lorem.</p>
            </li>
            <li>
                <span class="date">Jan 15</span>
                <h3><a href="#">Magna tempus lorem feugiat</a></h3>
                <p>Dolore consequat sed phasellus lorem sed etiam nullam dolor etiam sed amet sit consequat.</p>
            </li>
        {% endif %}
    </ul>
</section>